<!DOCTYPE html>
<html>
    <head>
        <title><%= meta.title %></title>
        <meta name="keywords" content="<%= meta.keywords %>"/>
        <meta name="description" content="<%= meta.description %>"/>
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=yes"/>
        
        <link rel="stylesheet" href="/lib/materialize/dist/css/materialize.min.css" type="text/css" />
        <link rel="stylesheet" href="/lib/slick.js/slick/slick.css" type="text/css" />
        <link rel="stylesheet" href="/lib/slick.js/slick/slick-theme.css" type="text/css" />
        <link rel="stylesheet" href="/lib/fontawesome/css/font-awesome.min.css" type="text/css" />

        <style type="text/css">
            html, body {
                max-height: 1080px;
                max-width: 1920px;
                height: 100%;
                width: 100%;
                margin: 0 auto;
                overflow-x: hidden;
            }
            
            #main {
                max-height: 768px;
                max-width: 1366px;
                height: 100%;
                width: 100%;
                margin: 0 auto;
            }
            
            .no-padding {
                padding: 0px;    
            }
            
            .no-display {
                display: none;    
            }
            
            .full {
                max-height: 100%;
                max-width: 100%;
                height: 100%;
                width: 100%;
            }
            
            .full-width {
                max-width: 100%;
                width: 100%;
            }
            
            .fake-link {
                cursor: pointer;
                opacity: 0.4;
                transition-duration: 0.4s;
                -o-transition-duration: 0.4s;
                -moz-transition-duration: 0.4s;
                -webkit-transition-duration: 0.4s;
                -ms-transition-duration: 0.4s;
            }
            
            .fake-link:hover {
                opacity: 1.0;
            }
            
            #main {
                padding-left: 0px;
            }
            #main > div {
                padding: 0px;
                margin: 0%;
            }
            
            .letter-space {
                letter-spacing: 5px;
            }
            
            .blur {
                -webkit-filter: blur(5px);    
                -moz-filter: blur(5px);    
                -o-filter: blur(5px);
                -ms-filter: blur(5px);
                filter: blur(5px);    
            }
            
            #right-panel {
                border-left: solid #c6c6c6 thin;
            }
            
            #banner {
                height: auto;
            }
            
            #search {
                text-align: center;
                transition-duration: 0.8s;
                -o-transition-duration: 0.8s;
                -moz-transition-duration: 0.8s;
                -ms-transition-duration: 0.8s;
                -webkit-transition-duration: 0.8s;
            }
            
            #header {
                transition-duration: 0.8s;
                -o-transition-duration: 0.8s;
                -moz-transition-duration: 0.8s;
                -ms-transition-duration: 0.8s;
                -webkit-transition-duration: 0.8s;
            }
            
            #banner input[type="text"]{
                font-size: 44px;
                color: #ef5350;
                letter-spacing: 5px;
                text-transform: uppercase;
            }
            
            #banner label {
                color: #ef5350;
            }

            #banner input[type=text]:focus + label {
                color: #ef5350;
            }
            
            #banner input[type=text]:focus {
                 border-bottom: 0px none white;
                 box-shadow: 0 0px 0 0 #000;
            }
            
            #banner input[type=text] {
                 border-bottom: 0px none white;
                 box-shadow: 0 0px 0 0 #000;
            }
            
            #search-button {
                position: absolute;
                top: 0;
                right: 0;
                padding-right: 50px;
            }
            
            #menu-button {
                padding-left: 50px;
            }
        </style>
        
    </head>
    <body>
        
        <div id="banner">
            <% include partials/menu.html %>
            
            <section class="full-width">
                <a id="menu-button" href="#" data-activates="slide-out" class="button-collapse fake-link"><i class="mdi-navigation-menu small red-text text-lighten-2"></i></a>
                <i id="search-button" class="mdi-action-search small red-text text-lighten-2 fake-link hide-on-small-only"></i>
            </section>
            
            <a href="/"><h3 id="header" class="letter-space center-align red-text text-lighten-1">DEBONAIR MANGA</h3></a>
            
            <section class="hide-on-small-only container" style="">
                
                <form method="GET" class="no-display" action="/search">
                    <div class="input-field col s12">
                        <input id="search" type="text" />
                        <label for="search">Manga, Author, Genre</label>
                    </div>
                </form>
                
            </section>
        </div>
        
        <div id="main" class="row full">
            <div class="col s12 m12 l12">
                <%- body %>
            </div>
        </div>

        
        <script type="text/javascript" src="/lib/jquery/dist/jquery.min.js"></script>
        <script type="text/javascript" src="/lib/materialize/dist/js/materialize.min.js"></script>
        <script type="text/javascript">
            $(function(){
                var isSearchFocused = false;
                $('.button-collapse').sideNav({
                    closeOnClick: true
                });
                
                $('.collapsible').collapsible();
                
                $('#search-button').click(function(){
                    if(isSearchFocused)
                    {
                        $('#search').focusout();
                        isSearchFocused = false;
                        return;
                    }
                    
                    $('#banner form').css('display', 'block');
                    $('#header').css('display', 'none');
                    $('#search').focus();
                    isSearchFocused = true;
                });
                
                $('#search').focusout(function(){
                    $(this).val('');
                    $('#banner form').css('display', 'none');
                    $('#header').css('display', 'block');
                });
            });
        </script>
        
        <%- script %>
    </body>
</html>